version: "3"
services:
    backend:
        image: "docker.osgeo.org/geoserver:2.21.1"
        expose:
            - "8080"
        ports:
            - "8080:8080"
        volumes:
            - "./geoserver_data:/opt/geoserver_data:rw"
        environment:
            - ROOT_WEBAPP_REDIRECT=true
            - INSTALL_EXTENSIONS=true
            - SKIP_DEMO_DATA=true
            - STABLE_EXTENSIONS=netcdf
            - CORS_ENABLED=true
        deploy:
            restart_policy:
                condition: on-failure
    frontend:
        build: "./common-mapping-client"
        volumes:
            - "cmc-app:/usr/share/nginx/html/app:rw"
        ports:
            - "80:80"
        restart: always

volumes:
    cmc-app:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ${PWD}/common-mapping-client_build
            